<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      mode="over"
      [opened]="(isHandset$ | async) === true">
    <mat-nav-list>
      <mat-icon> </mat-icon>
      <a mat-list-item [routerLink]="'home'">
         <fa-icon [icon]="HomeIcon"></fa-icon> &nbsp; Home
      </a>
      <a mat-list-item routerLink="my-education">
        <fa-icon [icon]="EducationIcon"></fa-icon> &nbsp; My Education
      </a>
      <a mat-list-item routerLink="my-experience">
        <fa-icon [icon]="BriefcaseIcon"></fa-icon> &nbsp; My Experience
      </a>
      <a mat-list-item [routerLink]="'my-hobbies'">
        <fa-icon [icon]="ControllerIcon"></fa-icon> &nbsp; My Hobbies
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
