<div class="page-container">
  <h1 class="font-Chalkboard-Serif">My Experience</h1>
  <div class="body-padding-1 font-ComicSans">
    <div class="experience2">
      <b class="row">
        <span class="columnThirds column-onethird"> UCSC Genomics Institute </span>
        <span class="columnThirds column-twothird"> Undergraduate Research Assistant</span>
        <span class="columnThirds column-threethird"> August 2019 - Present </span>
      </b>
      <div class="body-padding-2 pt-3">
          I had started working for the Genomics Institute during the summer of my Junior year in college and have continued
          to work there throughout the rest of my last year in college. Though my job title was 'Undergraduate Research Assistant',
          I was actually working as a web developer for one of Genomic's products: Dockstore. From working here, I had not only
          been exposed to new technologies such as Angular, PostgreSQL, and Docker, but I had also gained significant experience of
          what it is like to work in the industry. For instance, I had been exposed to the Scrum process and had experienced
          stand-up meetings, sprint plannings, retrospectives, and storytimes. I had also been taught the importance of unit testing
          and integration testing, and made it a habit to create tests pertaining to the tickets that I worked on.
        <div class="pt-2">
          <b> Skills Acquired: </b>
          Scrum development, Angular8, Angular Material, Akita State Management, PostgreSQL, CypressCI, creating unit tests,
          DropWizard, Java Utility Logging, LogBack, GitHub
        </div>
      </div>
    </div>
    <div class="experience1 pt-5">
      <b class="row">
        <span class="columnThirds column-onethird"> UCSC Baskin's School of Engineering </span>
        <span class="columnThirds column-twothird"> Data Structures Grader</span>
        <span class="columnThirds column-threethird"> September 2018 - December 2018 </span>
      </b>
      <div class="body-padding-2 pt-3">
        This was essentially my first job related to the field that I was studying in. Although my role as a grader wasn't
        flashy or anything special, it nonetheless introduced me to the different methodologies and thought processes that
        the students had used to create and implement their own data structures. If anything, I was not only grading, but
        also learning from some of the students who had approached issues in an entirely more elegant manner than I would
        have. Aside from that, working as a grader was overall an interesting experience that taught me the importance
        of time management as well as the frustrations of scripts failing due to missing edge cases.
        <div class="pt-2">
          <b> Skills Acquired: </b>
          Python, more familiarity with GitHub branches, Time management
        </div>
      </div>
    </div>
  </div>
</div>

