<div [class]="mediaObserver.isActive('gt-sm') ? 'header-container' : 'compressed-header-container'">
  <div class="icon-container-style white-font fs-160" [routerLink]="'/home'" fxHide fxShow.gt-sm fxShow.sm>
    <fa-icon class="icon-style" [icon]="homeIcon"> </fa-icon>
  </div>
  <div class="icon-container-style white-font fs-80" [routerLink]="'/home'" fxHide fxShow.lt-sm>
    <fa-icon class="icon-style" [icon]="homeIcon"> </fa-icon>
  </div>


  <div class="font-Arial-Rounded page-title white-font fs-160 va-m" fxHide fxShow.gt-sm fxShow.sm> {{title}} </div>
  <div class="font-Arial-Rounded page-title white-font fs-60 va-m" fxHide fxShow.lt-sm> {{title}} </div>

  <div class="icon-container-style white-font fs-160" *ngIf="listView" fxHide fxShow.gt-sm fxShow.sm>
    <fa-icon class="icon-style" [icon]="gridIcon" (click)="changeView(false)"></fa-icon>
  </div>
  <div class="icon-container-style white-font fs-160" *ngIf="!listView" fxHide fxShow.gt-sm fxShow.sm>
    <fa-icon class="icon-style" [icon]="listIcon" (click)="changeView(true)"></fa-icon>
  </div>
</div>
