.hobbies-header {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.mat-icon {
  vertical-align: middle;
}

.icon-container-style {
  border-radius: 10%;
  font-size: 4rem;
  cursor: pointer;
  align-self: center;

  transform: scale(1);
  transition: all ease 1s;
}

.icon-container-style:hover {
  color: white;
  transform: scale(1.15);
  transition: all ease 1s;
}

.page-title {
  font-size: 4rem;
  width: 100%;
  text-align: center;
}
