.hobbies-header {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.icon-container-style {
  border-radius: 10%;
  cursor: pointer;
  align-self: center;

  transform: scale(1);
  transition: all ease 1s;
}

.icon-container-style:hover {
  color: #C9CAF8;
  transform: scale(1.15);
  transition: all ease 1s;
}

.page-title {
  width: 100%;
  text-align: center;
}

.fs-160 {
  font-size: 4rem;
}
