<page-header
  [title]="'My Projects'"
  [listView]="listView"
  (viewChanged)="changeView($event)">
</page-header>
<ng-container *ngIf="listView === false || mediaObserver.isActive('lt-md') then gridList else defaultView"></ng-container>
<page-footer></page-footer>

<ng-template #gridList>
  <div [@projectsPageAnimation]="viewState" class="flex-center" [class]="mediaObserver.isActive('xs') ? 'compressed-card-view-style' : 'grid-view-card-style pt-3'"
       fxLayout="row wrap" fxLayoutGap.gt-xs="4rem grid">
    <div [class]="mediaObserver.isActive('xs') ? 'pt-custom' : ''" fxFlex="33%" fxFlex.lt-sm="100%" fxFlex.sm="100%" fxFlex.md="50%" *ngFor="let project of projects; let i = index">
      <mat-card class="card-style flex-column card-style-pointer custom-card-height mat-elevation-z4" (click)="openDialog(project)" [ngClass]="'project'+i">
        <div class="header font-Droid-Serif fs-80 fw-b flex-center" fxHide fxShow.gt-xs>
          <div class="title"> {{project.title}} </div>
          <div class="redirect">
            <fa-icon *ngIf="project.contributedProject" class="mr-1" [icon]="importantNoticeIcon" [matTooltip]="importantNoticeTooltip" [matTooltipPosition]="'above'"></fa-icon>
            <fa-icon [icon]="redirectIcon" (click)="redirect(project.link)"></fa-icon>
          </div>
        </div>

        <div class="compressed-header font-Droid-Serif fs-80 fw-b" fxHide fxShow.xs>
          <div class="flex-center fs-40"> {{project.title}} </div>
          <div class="compressed-redirect fs-40">
            <fa-icon *ngIf="project.contributedProject" [icon]="importantNoticeIcon" [matTooltip]="importantNoticeTooltip" [matTooltipPosition]="'above'"></fa-icon>
            <fa-icon [icon]="redirectIcon" class="icon-position-right" (click)="redirect(project.link)"></fa-icon>
          </div>
        </div>

        <div class="logo-container">
          <img class="row-100" src="{{project.logo}}">
        </div>
        <mat-chip-list class="projects-chip-position">
          <mat-chip *ngFor="let technology of project.techUsed"> {{technology}} </mat-chip>
        </mat-chip-list>
      </mat-card>
    </div>
  </div>
</ng-template>

<ng-template #defaultView>
  <div [@projectsPageAnimation]="viewState">
    <div class="sections" *ngFor="let project of projects; let i = index">
      <mat-card class="card-style default-view-card-style mat-elevation-z4" [ngClass]="'project'+i">
        <div class="header font-Droid-Serif fs-80 fw-b">
          <div class="logo-container maxw-10">
            <img class="row-100" src="{{project.logo}}">
          </div>
          <div class="flex-center pl-1"> {{project.title}} </div>
          <div class="redirect">
            <fa-icon *ngIf="project.contributedProject" class="interactable mr-1" [icon]="importantNoticeIcon" [matTooltip]="importantNoticeTooltip" [matTooltipPosition]="'above'"></fa-icon>
            <fa-icon class="interactable" [icon]="redirectIcon" (click)="redirect(project.link)"></fa-icon>
          </div>
        </div>
        <div class="font-Droid-Serif fs-50 pt-2"> {{project.detailedDescription}} </div>
        <mat-chip-list>
          <mat-chip color="accent" *ngFor="let technology of project.techUsed"> {{technology}} </mat-chip>
        </mat-chip-list>
      </mat-card>
    </div>
  </div>
</ng-template>
