/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  background-color: #252A41;
}

body {
  margin: 0
}

.vh-100 {
  height: 100vh;
}

.font-Chalkboard-Serif {
  font: 4rem "Chalkboard", serif !important;
  color: white;
  text-align: center;
}

.font-Arial-Rounded {
  font: 2.5rem "Arial Rounded MT Bold", serif;
  color: #B7B8F5;
}

.font-Droid-Serif {
  font: 2.5rem "Droid Serif", serif;
  color: #D1D2F9;
}

.white-font {
  color: white;
}

mat-dialog-container {
  border: 0.25rem solid #EBEBEB;
  background-color: #252A41 !important;
}

.fw-b {
  font-weight: bold;
}

.fs-90 {
  font-size: 2.25rem;
}

.fs-80 {
  font-size: 2rem;
}

.fs-60 {
  font-size: 1.5rem;
}

.fs-50 {
  font-size: 1.25rem;
}

.fs-40 {
  font-size: 1rem;
}

.fs-30 {
  font-size: 0.75rem;
}

.w-100 {
  width: 100%;
}

.maxw-10 {
  max-width: 10%;
}

.page-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  background-size: cover;
}

.flex-center {
  display: flex !important;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.centerX {
  left: 50%;
  transform: translateX(-50%);
}

.centerY {
  top: 50%;
  transform: translateY(-50%);
}

.card-style {
  border: .25rem solid #EBEBEB;
  background-color: #252A41;
  transition: all .25s linear;
}

.custom-card-height {
  height: 21rem;
}

.card-style-pointer {
  cursor: pointer;
}

.card-style-pointer:hover {
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.image-container {
  float: left;
  align-self: flex-end;
}

.row-100 {
  display: flex;
  width: 100%;
}

.default-view-card-style {
  display: flex;
  align-items: center;
  align-content: center;
  max-height: 25rem;
  overflow-y: auto;
}

.grid-view-card-style {
  padding-right: 5rem;
  padding-left: 5rem;
  align-items: center;
  align-content: center;
}

.compressed-card-view-style {
  padding-right: .5rem;
  padding-left: .5rem;
  align-items: center;
  align-content: center;
}

.sections {
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1rem;
}

.font-ComicSans {
  font: 1.25rem "Comic Sans MS", serif;
}

.row {
  display: flex;
}

.row:after {
  display: table;
  content: " ";
}

.columnThirds {
  display: inline-block;
  width: 33.33%;
}

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.body-padding-1 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.body-padding-2 {
  padding-left: 12rem;
  padding-right: 12rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-custom {
  padding-top: 1.5rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.va-m {
  vertical-align: middle;
}
